body {
  /* 960 h 720 w */
  background-image: url("img/background.png");
  width: 850px;
  height: 800px;
  margin: auto;
  color: white;
}
button{
    font-family: inherit;
}
.window {
  background-color: #ddc2e4;
  height: 260px;
  border: 4px solid #cca8e0;
  padding: 0;
  margin-top: 50px;
}

.topRow {
  margin: 0;
  height: 20%;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 8px;
  /* border-bottom: 5px solid #7a77de; */
}

.bottomRow {
  /* background-color: white; */
  background-color: #95b4b8;
  height: 200px;
  flex-direction: row;
  display: flex;
  color: white;
  justify-content: space-around;
  /* border-bottom: 5px solid #7a77de; */
}

#windowP {
  margin-bottom: 0px;
}

#home,
#guest {
  height: 50%;
  width: 33%;
  text-align: center;
  font-size: 40px;

}
#scoreH,
#scoreG {
  font-size: 65px;
  height: 50%;
}

#timerContainer {
  /* background-color:gray; */
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
}

#clock {
  background-image: url("img/clock.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;
  width: 60%;
  margin: 0 auto;
}

#time {
  width: 80%;
  height: 40%;
  text-align: center;
  font-size: 60px;
  margin: 0 auto;
}
#img {
  width: 800px;
  height: 800px;
  text-align: center;
  margin: auto;
}

.roundContainer {
  width: 80%;
  height: 40%;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

#ScoreH,
#ScoreG {
  width: 80%;
  height: 40%;
  text-align: center;
  font-size: 60px;
  margin: 0 auto;
}

#shuffle {
  text-align: center;
  background-color: rgb(173, 187, 245);
  color: white;
  border: 3px dotted;
  font-size: 20px;
  margin: 5px auto;
  padding: 5px 10px;
  cursor: pointer;
}

/* Card section */
.cardContainer {
  height: 320px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px auto;
}

#card2 {
  background-color: #fff3cc;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #cca8e0;
}

#card1,
#card3 {
  width: 35%;
  height: 100%;
  display: flex;
}

#easy,
#medium,
#hard {
  background-color: white;
  color: #7a77de;
  border-radius: 15px;
  width: 180px;
  height: 45px;
  margin: 5px auto;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: 3px dotted #cca8e0;
}

/* Answer Option */
.optionContainer {
  /* background-color: wheat; */
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}
#giveupContainer,
#answerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}
#giveup,
#answer {
  width: 175px;
  height: 42.5px;
  padding: 5px;
  font-size: 20px;
  margin-top: 200px;
  cursor: pointer;
  background-color: #cca8e0;
  color: white;
  border: 3px dotted #cca8e0;
  border-radius: 15px;
}

#answerContainer {
  background-image: url("img/trophy.png");
}
#giveupContainer {
  background-image: url("img/trash.png");
}

.modalFinalScore {
  height: 250px;
  width: 650px;
  font-size: 50px;
  text-align: center;
  float: initial;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  background-image: url("img/modalScore.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0px;
  margin: 0;
  padding: 0;
  color: black;
}

#modalInst {
  display: none; 
  height: 550px;
  width: 1100px;
  font-size: 50px;
  float: initial;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  border: 5px solid white;
}

.instTop{
background-color: #ddc2e4;
width: 100%;
height: 10%;
padding-bottom: 5px;
border-bottom: 5px solid white;
}

.instBottom{

    background-color: #95b4b8;
    width: 100%;
height: 485px;
border-bottom: 5px solid white;
display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;

}

#instContent {
    margin: 0px;
padding-top: 100px;
font-size: 25px;
}

#instClose {
    background-color: #F7DBF0;
    text-align: center;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 100px;
  margin-top: 15px;
}

.hidden {
  display: none;
}

#sideContainer {
  width: 65%;
  height: 30px;
  margin: 130px auto;
  display: flex;
  flex-direction: row;
}

.side, #restart, #restart2, #inst {
  text-align: center;
  color: white;
  font-size: 20px;
  width: 25%;
  height: 100%;
  background-color: lightcoral;
  /* border: 2px solid #cca8e0;   */
  padding:0px;
}

#decor {
  background-color: #F7DBF0;
}

#inst, #restart, #restart2 {
    border: none;
}
