h1 {
    text-align: center;
}

body {
    width: 900px;
    height: 900px;
    margin: auto;
}

button {
    background-color: rgb(173, 187, 245);
    color: white;
    border: 5px dotted;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
}

.timer {
    width:800px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    background-color: teal;
}
#timerimg {
    width: 150px;
    height: 300px;
    text-align: center;
    margin: auto;
}

#init {
    text-align: center;
    background-color: rgb(173, 187, 245);
    color: white;
    border: 5px dotted;
    font-size: 20px;
    margin: 5px auto;
    padding: 5px;
    width: 65%;
    height: 35px;
}
#restart {
    text-align: right;
}
.card {
    background-color: purple;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

   #card2 {
     /* background-color: #f0c079; */
     background-image: url("img/card.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     width: 33%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
   }

   #card1, #card3 {
       background-color: skyblue;
    background-image: url("img/card.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 100%; 
 }
 
  #easy, #medium, #hard {
    background-color: rgb(186, 235, 224);
    border-radius: 15px;
    width: 65%;
    height: 35px;
    margin: 5px auto;
    font-size: 20px;
    text-align: center;
/* //why isn't easy tag not showingup??  */
  }

  #score-board {
    background-color: rgb(186, 235, 224);
    width: 900px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  #score1, #score2 {
      width: 40%;
      height: 40%;
      text-align: center;
      margin: auto;
      padding: 10px;
      background-color: wheat;
  }
   .option-board {
    background-color: wheat;
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
   }
   #giveUp {
    width: 150px;
    height: 40px;
   }

   #answer {
    
    background-color: violet;
   }